@font-face {
    font-family: 'Gotham-pro-Light';
    src: url(../fonts/GothamPro-Light.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Gotham-pro-Bold';
    src: url(../fonts/GothamPro-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'Gotham-pro-Regular';
    src: url(../fonts/GothamPro.woff);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.woff);
    font-weight: 300;
}
@font-face {
    font-family: 'Artegra';
    src: url(../fonts/ArtegraSansExAltRegular.woff);
    font-weight: 400;
}