.forecasts{
    margin-top: 144px;
    @media (max-width: 768px) {
        margin-top: 100px;
    }
    @media (max-width: 425px) {
        margin-top: 72px;
    }
    @media (max-width: 375px) {
        margin-top: 72px;
    }
    @media (max-width: 320px) {
        margin-top: 72px;
    }
    background-color: $blue-color;
    &__container{
        @include flex(space-between,center);
        padding-top: 96px;
        padding-bottom: 110px;
        padding-left: 80px;
        padding-right: 88px;
        @media (max-width: 1024px) {
            flex-direction: column;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 20px;
            padding-right: 20px;
            gap: 30px;
        }
        @media (max-width: 425px) {
            flex-direction: column;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width: 375px) {
            flex-direction: column;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width: 320px) {
            flex-direction: column;
            padding-top: 48px;
            padding-bottom: 48px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__title{
        @media (max-width: 1024px) {
            text-align: center;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
        &-item{
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            color: $white-color;
            max-width: 406px;
            margin: 0;
            @media (max-width: 425px) {
                font-size: 24px;
                text-align: center;
                max-width: 160px;
                line-height: 30px;
                margin-bottom: 32px;
            }
            @media (max-width: 375px) {
                font-size: 24px;
                text-align: center;
                max-width: 160px;
                line-height: 30px;
                margin-bottom: 32px;
            }
            @media (max-width: 320px) {
                font-size: 24px;
                text-align: center;
                max-width: 160px;
                line-height: 30px;
                margin-bottom: 32px;
            }
        }
    }
    &__happen{
        @include flex(space-between,center);
        flex-wrap: wrap;
        gap: 15px;
        @media (max-width: 1024px) {
            justify-content: center;
        }
        &-left{
            @include flex(center,flex-start);
            gap: 15px;
            @media (max-width: 1024px) {
                margin-left: 0;
            }
            @media (max-width: 768px) {
                margin-left: 35px;
            }
            @media (max-width: 425px) {
                .forecasts__happen-item{
                    &:first-child{
                        width: 55%;
                    }
                    &:last-child{
                        width: 55%;
                    }
                }
                margin-left: 0;
            }
            @media (max-width: 320px) {
                margin-left: 0px;
            }
            @media (max-width: 375px) {
                .forecasts__happen-item{
                    width: 50%;
                }
            }
            @media (max-width: 320px) {
                .forecasts__happen-item{
                    width: 50%;
                }
            }
            @media (max-width: 425px) {
                width: 100%;
                gap: 0px;
            }
            @media (max-width: 375px) {
                gap: 30px;
                margin-left: 0;
            }
            @media (max-width: 320px) {
                gap: 0px;
            }
        }
        &-right{
            @include flex(center,center);
        }
        &-item{
            @include flex(center,center);
            flex-direction: column;
            &-title{
                font-weight: 700;
                font-size: 32px;
                margin: 0;
                margin: 0;
                background: linear-gradient(25deg, #4614E8, #BCA7FF);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 16px;
                @media (max-width: 425px) {
                    font-size: 24px;
                }
                @media (max-width: 375px) {
                    font-size: 24px;
                }
                @media (max-width: 320px) {
                    font-size: 24px;
                }
            }
            &-descr{
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: $white-color;
                text-align: center;
                max-width: 202px;
                @media (max-width: 425px) {
                    font-size: 12px;
                }
                @media (max-width: 375px) {
                    font-size: 12px;
                }
                @media (max-width: 320px) {
                    font-size: 12px;
                }
            }
        }
    }
}